*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: $button-bg;
    }
    ::-webkit-scrollbar-track {
        background: $text-color;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: $font-family;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    .main-container {
        padding: 2rem 0rem;
        display: flex;
        .main-nav {
            width: 30%;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            @media (max-width: 1024px){

            }
            @media (max-width: 495px){
                display: none;
            }
        }
        .main-content {
            background: $white-color;
            width: 70%;
            // border-radius: 1rem;
            @media (max-width: 1024px){

            }
            @media (max-width: 495px){
                width: 100%;
            }
        }
        @media (max-width: 1024px){

        }
        @media (max-width: 495px){
            
        }
    }
}